@page
@model Torneo.App.Frontend.Pages.Partidos.DetailsModel
@{
}

<h1>Detalle del partido</h1>
<table class="table table-striped">
    <tr>
        <th scope="col">Id</th>
        <td>@Model.partido.Id</td>
    </tr>
    <tr>
        <th scope="col">Fecha Hora</th>
        <td>@Model.partido.FechaHora</td>
    </tr>
    <tr>
        <th scope="col">Local</th>
        <td>@Model.partido.Local.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Goles</th>
        <td>@Model.partido.MarcadorLocal</td>
    </tr>
    <tr>
        <th scope="col">Visitante</th>
        <td>@Model.partido.Visitante.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Goles</th>
        <td>@Model.partido.MarcadorVisitante</td>
    </tr>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>